<p>Bot requires setup</p>
<p>Go to twitter dashboard and get these values</p>

<script defer src="./js/setup.js"></script>
    <form action="/api/config">
        <label for="consumerKey">Consumer Key:</label><br>
        <input type="text" id="consumerKey" name="consumerKey" placeholder="Enter Consumer Key"><br>

        <label for="consumerSecret">Consumer Secret Key:</label><br>
        <input type="text" id="consumerSecret" name="consumerSecret" placeholder="Enter Consumer Secret Key"><br>

        <label for="tokenKey">Token Key:</label><br>
        <input type="text" id="tokenKey" name="tokenKey" placeholder="Enter Token Key"><br>

        <label for="tokenSecretKey">Token Secret Key:</label><br>
        <input type="text" id="tokenSecretKey" name="tokenSecretKey" placeholder="Enter Token Secret Key"><br>
        
        <label for="apiFootball">Api-Football Key:</label><br>
        <input type="text" id="apiFootball" name="apiFootball" placeholder="Enter Api-Football Key"><br><br>

        <input type="submit" value="Submit">
    </form>